[2014-12-16 22:42] alt- opened #3 "Use f_bavail instead of f_bfree to avoid counting 5% reserved space on ext filesystems"
Node apps are (hopefully always) run as non-root, so ignoring space reserved for root, like df does, would be preferable.

[2015-04-02 23:56] jduncanator commented on #3
If you wanna submit a PR I'll happily merge it!

[2015-09-27 12:26] not-implemented commented on #3
See #6

[2015-09-30 14:30] jschrab opened #7 "diskusage does not work with Node JS 4.x"
It would appear this is because of the https://github.com/node-ffi/node-ffi dependency:
https://github.com/node-ffi/node-ffi/issues/245

I mention this here in hopes that the node-diskusage repo is updated to use the next release of node-ffi, once it's ready.

[2015-10-02 11:39] dimd13 commented on #7
+

[2015-10-07 01:06] jduncanator commented on #7
Thanks for letting me know. I'm rather busy this week so I will take a look at this as well as push an NPM update over the weekend.

[2015-10-13 09:20] SirAnthony commented on #7
It is fine from git, please update npm package.

[2015-10-14 10:41] hellboy81 commented on #7
Can `node-diskusage`  version `0.1.3` work with node `0.12` ?

[2015-10-15 00:01] jduncanator commented on #7
@hellboy81 When I get around to releasing an update it will work on 0.12. I'm working on a few changes to library before I release the next version

[2015-10-15 06:20] hellboy81 commented on #7
Hmm.. Which incompatibilities has the current version  `node-diskusage` with node 0.12?

[2015-10-15 06:34] hellboy81 commented on #7
As I mentioned the [`node-ffi` since version `1.3.0 / 2015-03-22` supports `0.12.x`](http://git.io/vCiyj):

[2015-10-21 09:22] hellboy81 commented on #7
We are still waiting for 0.12 compatible version...

[2015-11-09 10:30] hellboy81 commented on #7
This library can be replaced with [diskspace.js](https://github.com/keverw/diskspace.js)

[2015-11-09 22:38] jduncanator commented on #7
Sorry for the huge delays. I've setup automatic deployment now so it shouldn't happen again in the future. Version 0.1.4 is now available on npm.

As the API changed in a non-breaking manner I decided not to bump to version 0.2.x and instead went to 0.1.4.

[2015-11-09 22:38] #7 closed

[2015-11-10 08:57] starquake commented on #7
Thanks! It works! I prefer your use of statvfs and GetDiskFreeSpaceEx over parsing the output of a command line tool.

[2015-11-19 03:06] #3 closed

[2015-12-07 09:03] mihail-stanchev opened #8 "Consider changing license to MIT"
Hi, would you consider changing the license to MIT? This would allow the module to be used in (potentially commercial) redistributed software, e.g. atom-based desktop applications, etc.

[2015-12-13 22:39] jduncanator commented on #8
Sure. I have no qualms over changing the license so long as it doesn't affect anyone else who is currently using the library. If anyone objects to the change feel free to leave a comment!

[2016-01-14 02:45] jduncanator commented on #8
I'll be swapping the license to MIT on the 1st of February unless anyone has an objection (and a decent reason).

[2016-01-30 21:16] Magnitus- commented on #8
That would be fantastic.

I'm considering using this module as a dependency for a customer support tool I've been contracted to develop. The only hurdle atm is the license.

[2016-02-01 09:32] jduncanator commented on #8
I'll be moving the license to MIT tomorrow, if anyone has any last minute objections, speak now or forever hold your peace!

[2016-02-04 12:49] jduncanator commented on #8
The project is now licensed under the MIT license which is compatible with the GPL license (afaik). If anyone has any issues, feel free to contact me.

[2016-02-04 12:49] #8 closed

[2016-02-09 12:38] mihail-stanchev commented on #8
Thanks!
Maybe also update package.json and npm publish?

[2016-02-09 23:21] jduncanator commented on #8
@mihail-stanchev Sure! I've had a few changes I wanted to make before hand, but I'll see if I find the time tonight to do it.

[2016-02-26 03:03] jduncanator commented on #8
@mihail-stanchev Sorry it took so long, I've published 0.1.5 with the updated MIT License!

[2016-02-26 06:06] mihail-stanchev commented on #8
@jduncanator Thanks, just about right timing ;)

[2016-06-17 16:51] deeepaaa opened #9 "Module did not self-register"
Happens whenever I try requiring this module.

`Error: Module did not self-register.

[code]

`

[2016-06-20 00:56] jduncanator commented on #9
What version of NodeJS are you using? I may need to update the node-ffi dependency again.

[2016-06-20 10:55] deeepaaa commented on #9
@jduncanator I'm using version 6.2.0

[2016-06-28 11:04] DomVinyard commented on #9
I'm hitting this same error on node v4.4.5.

[2016-06-28 18:03] robogen opened #10 "Module not found [Windows]"
I'm rebuilding ffi and ref on Windows using nw-gyp, and those seem to be building correctly, however when I require 'diskusage' I get the following error message.

"Error: The specified module could not be found.
C:\Users\<username>\AppData\Local\Temp\nw50196_2060\node_modules\diskusage\node_modules\ref\build\Release\binding.node
    at Error (native)
    at Module.load (module.js:346:32)
    at F

[2016-06-28 20:18] robogen commented on #10
Ignore me! As much as I hate to admit it, turns out part of the issue I was having was that node.js wasn't up-to-date on my machine. Running into different errors now, but unrelated to this.

[2016-06-28 20:18] #10 closed

[2016-06-29 01:37] jduncanator commented on #9
Interesting. I'll update the dependencies of ref and ffi to see if that fixes some of the issues.

[2016-06-29 01:41] jduncanator commented on #10
This also looks like an issue with ref dependency. Might be relevant to #9. I'm aware that updating the ref library may affect backwards compatibility with older node versions, so I want to avoid changing the dependencies around too much.

[2016-06-29 01:45] jduncanator commented on #9
@deeepaaa @DomVinyard Think this may be relevant: http://stackoverflow.com/questions/28486891/uncaught-error-module-did-not-self-register

Try rebuilding the gyp modules, and if that fails, reinstalling all the modules. If it's still not working, let me know and I'll take a further look into it.

[2016-06-29 15:12] Saarg opened #11 "Module version mismatch. Expected 47, got 46."
hi, i'm trying to use your module but i got this error:
`Error: Module version mismatch. Expected 47, got 46.`

any idea why?

[2016-06-29 15:19] robogen commented on #9
On #10 before I updated my nodejs version, I was using nw-gyp to rebuild ref and ffi on my Scientific Linux machine after installing diskusage, and that got the module working. Could there be a backwards compatibility issue with ref and the updated node-gyp?

[2016-06-29 23:16] jduncanator commented on #11
There seems to be a few issues cropping up with newer versions of node, and node-gyp. I'll have some free time this weekend to sort them out.

[2016-10-12 21:33] Camyll commented on #11
I keep getting this error:

Error: Module version mismatch. Expected 50, got 49.

has the previous issue ever been resolved?

[2016-10-12 21:47] jduncanator commented on #11
@Camyll Yea, in the past people have fixed the issue by rebuilding their node-gyp modules. `node-gyp rebuild` should do the trick.

[2016-10-12 22:16] Camyll commented on #11
This is not working for me :(

[2016-10-12 22:38] jduncanator commented on #11
@Camyll Could you try the instructions listed [here](https://github.com/electron-userland/electron-builder/issues/453#issuecomment-222734707)

[2016-10-24 15:52] ugieska opened #12 "Cannot install on OS X"
I tried to install this module, and it fails. I'm using the n module to change node versions, but whether on Node 4, 5, or 6, installation fails every time.

I do make sure that I clean out the `node_modules` folder and re-install everything via `npm install` after switching versions. It still doesn't work.

I've attached the `npm-debug.log` file, with a `.txt` extension added (so GitHub will allo

[2016-10-24 23:15] jduncanator commented on #12
It looks like it's failing at installing [ref](https://github.com/TooTallNate/ref). The dependencies are in dire need of updating so I will push a new version with updated dependencies. I'm just not sure, due to the rather fragile nature of native bindings, how well newer versions of ffi and ref work with older versions of node.

[2016-10-29 04:12] ak2766 commented on #11
I too am getting this issue on my daily driver laptop.  However, on one of my LXC containers, it is working well.  So I first compared versions:

LXC container (*working*):

    $ npm -v
    3.10.3

Laptop (*errors out*):

    $ npm -v
    3.10.9

I then compared the node_modules directory on both systems.  All `package.json` files on the working LXC container have a line that says `"_installable"

[2016-10-30 22:19] jduncanator commented on #11
@ak2766 The issue stems from an issue with node-gyp trying to compile node-ffi and dependencies. By copying over your node_modules, you are essentially skipping the compilation step on your laptop and using the pre-built binaries generated in your container.

I've been doing some investigations over the last few weeks to try and get to the bottom of it, but it seems to be an issue within the node

[2016-10-30 22:20] jduncanator commented on #12
See https://github.com/jduncanator/node-diskusage/issues/11#issuecomment-257183794

[2016-11-18 04:32] jduncanator commented on #11
It seems that this is caused by updating your Node version without rebuilding your Node modules. This makes sense as node-gyp compiles native modules against the currently installed version of node. Try following some of the steps [here](http://stackoverflow.com/questions/15584529/module-version-mismatch-expected-11-got-1) to see if it fixes your problem.

[2016-12-06 14:09] frontierpsycho opened #13 "Feature request: return errno on error"
According to the [statvfs man page](https://linux.die.net/man/2/statvfs), statvfs sets `errno` on error. It would be great if diskusage could capture that and make it available to the callback.

Any plans to support that? Not sure how to do it, otherwise I'd do it myself.

[2016-12-06 22:58] jduncanator commented on #13
The return code is already passed back in an error scenario as the first parameter of the callback. Relevant code is [here](https://github.com/jduncanator/node-diskusage/blob/300308f4a966f67fc61a1638a76ea30a9a676a11/index.js#L64-L66).

An example:

[code]

[2016-12-06 23:04] jduncanator commented on #13
Sorry, just noticed you were referring to `errno` not the return code. I'll make some changes to return the `errno` instead of `-1` on Linux and Darwin.

[2016-12-06 23:31] frontierpsycho commented on #13
Great, thanks!

Perhaps a good idea would be to return a `SystemError` (see [here](https://nodejs.org/api/errors.html#errors_system_errors)), which has fields for `code` and `errno`. Furthermore, if you have the patience for it,

The _best_ thing would be if you even used [explain_statvfs](https://linux.die.net/man/3/explain_statvfs) to actually return a detailed message explaining what the cause

[2016-12-07 22:14] jduncanator commented on #13
My only concern with `explain_statvfs` is the fact it is not thread-safe. Node.js uses it extensively internally, and as the output buffer is shared between calls to `explain_statvfs`, any other call to it internally will return an incorrect message (or do potentially worst things). I'll need to take a look at a thread-safe way of calling `explain_statvfs` so it does not conflict with Node's own c

[2016-12-07 22:39] frontierpsycho commented on #13
:+1:

[2016-12-07 23:35] ugieska commented on #12
I'm not sure why this was closed. Is it a duplicate of #11 ? I did totally delete node_modules every time I switched versions, and it still wouldn't install. Did you mean some other process in the comment?

[2016-12-08 05:15] jduncanator commented on #12
@ugieska Did you try the instructions linked to in #11? If so, and it did not work for you, I'll re-open.

[2016-12-08 05:19] jduncanator commented on #12
@ugieska  [This thread](https://github.com/nodejs/node-gyp/issues/809) suggests that it could be caused by a space in your home path. Do you have a space in your username or your $HOME path?

[2016-12-08 22:49] jduncanator commented on #13
@frontierpsycho It doesn't appear that `SystemError` has an appropriate field to store the explanation message in. In your opinion, where would you store the explained errno message?

[2016-12-08 23:22] frontierpsycho commented on #13
Judging by this sentence in the docs:

and also by looking around the node source code, I think system errors are nothing but simple `Error` objects with the extra fields `.syscall`, `.errno` and `.code`, so they should have all the fields of `Error`, including `.message`. I think you can probably store it there.

Does that make sense?

[2016-12-17 20:38] ugieska commented on #12
Sorry, I only just saw these questions... Here is what I am doing, specifically:

* I should have mentioned that I am installing this to the project, not globally: `npm install --save diskusage`. This puts the module into the `package.json` file as a dependency.

* After switching Node versions using n, I delete *everything* in the project's `node_modules` and re-install using the `package.json` i

[2016-12-18 23:47] jduncanator commented on #12
Are you sure you have the correct build dependencies installed? I'm not sure what is required on MacOS, but on Windows it is Visual Studio and Linux it is GCC. Make sure you have XCode installed.

[2017-01-11 19:27] miniak opened #14 "Re-implement in C++ with just NaN dependency"
I think that this module should be implemented in C++ using the NaN module to ensure compatibility with different NodeJS versions. It would decrease the number all dependencies from 8 to 1.

[2017-01-12 00:23] jduncanator commented on #14
Thanks! I've been meaning to get around to this, but as it worked (for the most part) as it was, it wasn't a high priority.

[2017-01-12 00:52] miniak commented on #14
There is one small thing remaining and that's the error argument of the callback. I think that it actually wasn't returning a correct value before (not zero on failure) on Windows.

[2017-01-12 00:56] jduncanator commented on #14
Your right, it was returning 0 for the error argument. That's been another thing I've been wanting to change, returning proper error responses. There was a suggestion on #13 to return the errno on Posix based systems, something similar might be doable on Windows systems as well. Will take a look.

[2017-01-22 23:12] #14 closed

[2017-01-23 00:02] jduncanator commented on #12
As of version 0.2.0 diskusage now uses native, platform specific bindings. This should resolve any of the previous installation issues. If you are still experiencing issues, feel free to comment on this issue and I will take a further look.

[2017-01-23 00:02] #12 closed

[2017-01-23 00:02] jduncanator commented on #9
As of version 0.2.0 diskusage now uses native, platform specific bindings. This should resolve any of the previous installation issues. If you are still experiencing issues, feel free to comment on this issue and I will take a further look.

[2017-01-23 00:02] #9 closed

[2017-01-23 00:02] jduncanator commented on #11
As of version 0.2.0 diskusage now uses native, platform specific bindings. This should resolve any of the previous installation issues. If you are still experiencing issues, feel free to comment on this issue and I will take a further look.

[2017-01-23 00:02] #11 closed

[2017-01-23 00:04] jduncanator commented on #13
With v0.2.0 you should now have a bit more visibility into the error messages being thrown. It doesn't yet use `explain_statvfs` because I'm trying to keep the behavior consistent across platforms. I'll take a look at finding a Windows solution later this week.

[2017-01-23 00:07] jduncanator commented on #14
Merged! Thank you for the pull request.

[2017-01-23 23:28] edgework opened #16 ".2 Fails to build on MacOS"
.2 version fails to build on MaxOS.  .1.5 builds fine.   This with with latest version of XCode Command Line tools on 10.12.2

  CXX(target) Release/obj.target/diskusage/src/main.o
In file included from ../src/main.cpp:1:
../src/diskusage.h:3:10: fatal error: 'cstdint' file not found
#include <cstdint>
         ^
1 error generated.
make: *** [Release/obj.target/diskusage/src/main.o] Error 1`

[2017-01-23 23:39] miniak commented on #16
That's weird. I tested it on latest macOS with latest Xcode installed.

[2017-01-24 00:02] edgework commented on #16
Maybe its node version?  I'm on  v4.7.0

[2017-01-24 00:12] miniak commented on #16
I will have a look tomorrow, it's already too late for me in Prague. I can refactor the code to avoid using that header.

[2017-01-24 00:14] miniak commented on #16
Or it could be one of these issues:
http://stackoverflow.com/questions/10116724/clang-os-x-lion-cannot-find-cstdint
http://stackoverflow.com/questions/16525489/cstdint-file-not-found-when-building-on-the-command-line

[2017-01-24 00:16] miniak commented on #16
You can try cloning the git repo and calling npm install. Try changing the include to stdint.h. If that helps, you can submit a PR (bump the version to 0.2.1)

[2017-01-24 06:01] jduncanator commented on #16
I tested it with nvm on macOS Sierra with an old-ish XCode (probably 6 months old) before publishing the changes and everything was good from Node v0.10.48 all the way up to latest stable.

I'll update my XCode version and see how I go.

@miniak There was an issue with the cflags on older Node versions (node-gyp didn't invoke `-std=c++11` by default in those versions) so this may be affecting MacO

[2017-01-24 06:21] jduncanator commented on #16
Was able to reproduce on v0.10.48 with El Capitan and its latest XCode. Definitely related to missing C++ cflag. Will make some changes.

[2017-01-24 06:35] jduncanator commented on #16
Turns out its not related to cflags.

@miniak It seems like new versions of node are fine with building it out of the box, but older node versions require the include in `diskusage.h` to be `#include <tr1/cstdint>` instead of `#include <cstdint>`. Still not sure why. Do you have any ideas?

If you want to reproduce, just install nvm and grab 0.10.48 (`nvm install 0.10.48`) and try and do a `npm in

[2017-01-24 08:50] frontierpsycho commented on #13
Great, thanks! I'll look into it soon.

[2017-01-26 21:28] edgework commented on #16
Hey, do you have any idea when you'll push an update to NPM?

[2017-01-29 23:17] jduncanator commented on #16
@edgework When we determine what the issue is, we'll push an update. Currently, updating to the latest version of Node will solve the problem, so if you can't wait, I suggest updating.

[2017-01-30 17:16] edgework commented on #16
There's no way we can update Node. We're on 4.4 which is the most common production version out there.   I just locked the version down on all our servers to 0.1.x

[2017-01-30 22:51] jduncanator commented on #16
@edgework We're running v6 in production, which should install diskusage fine. If you are deploying to production, you should have shrink-wrapped dependencies, or at least a fixed version in your package.json.

I'm working on resolving the issue now, but without @miniak's input, it's going to take a while.

[2017-01-30 22:58] miniak commented on #16
Did you try just replacing the include with stdint.h?

[2017-01-30 23:00] jduncanator commented on #16
@miniak From my testing, doesn't work when compiling with C++11 (which is the default under new node's).

[2017-01-30 23:03] miniak commented on #16
So which node versions should I test with? 4 and 6?

[2017-01-30 23:03] jduncanator commented on #16
@miniak Test with v0.10.48, v4 and v7. That should cover everything from what I can tell.

[2017-01-30 23:18] miniak commented on #16
I was able to reproduce with v4

  CXX(target) Release/obj.target/diskusage/src/main.o
In file included from ../src/main.cpp:1:
../src/diskusage.h:3:10: fatal error: 'ctdint' file not found
#include <ctdint>

[2017-01-30 23:19] miniak commented on #16
For it works using `stdint.h` with both v4 and v7

[2017-01-30 23:23] jduncanator commented on #16
@miniak Doesn't work on Linux using `stdint.h` on node v7

[2017-01-30 23:23] miniak commented on #16
I only have access to macOS and Windows at this point.

[2017-01-30 23:24] miniak commented on #16
What about using `#ifdef` for that include?

[2017-01-30 23:26] miniak commented on #16
can you send me the error message that you get?

[2017-01-30 23:30] jduncanator commented on #16
@miniak Can't reproduce now. Not sure what I was doing wrong last time but `<stdint.h>` works fine for Linux. Happy to make that change, and see what happens.

[2017-01-30 23:32] #16 closed

[2017-01-30 23:33] miniak commented on #16
The other option would be to stop using `cstdint` / `stdint.h` altogether and change

[code]

to

[code]

It needs to be passed as double to JavaScript anyway.

[2017-01-30 23:34] jduncanator commented on #16
Will see if this change works for @edgework and will then look at changing to double.

[2017-01-30 23:38] jduncanator commented on #16
@miniak Get some interesting output from Linux with Node v0.12.18

[code]

Build still completes, but a lot of deprecation warnings.

[2017-01-30 23:47] jduncanator commented on #16
@edgework The latest commit to master has resolved the issue on MacOS with Node v4.4.7 for me. Can you please confirm that you no longer have issues compiling the module?

[2017-02-01 08:12] Johnz86 opened #17 "Not working with electron"
I tried to use this package in electron application with typescript. It does not work. I get an error:
[code]

[2017-02-01 10:31] jduncanator commented on #17
It looks like the issue is caused by compiling the native module in either x64 when you are running a x86 version of Node, or x86 and running a x64 version of node. As I'm not familiar with the way native modules work with Electron, and nobody else who has been having this issue in other projects have found a solution, I would recommend getting in contact with an Electron developer (maybe just @ t

[2017-02-01 10:35] jduncanator commented on #17
@Johnz86 https://github.com/electron/electron/issues/3243 suggests adding the `--dist-url` flag to the `electron-gyp` command. Read through that thread, try what they suggest, and answer back here if it fixes the issue. I'll add it to the README if it does.

[2017-02-02 05:23] jduncanator commented on #16
@edgework I've published v0.2.1 to NPM. Please try this version and let me know if you run into compilation issues.

[2017-02-02 16:19] edgework commented on #16
`$ npm install diskusage
\

  CXX(target) Release/obj.target/diskusage/src/main.o
  CXX(target) Release/obj.target/diskusage/src/diskusage_posix.o
  SOLINK_MODULE(target) Release/diskusage.node
clang: warning: libstdc++ is deprecated; move to libc++ with a minimum deployment target of OS X 10.9
diskusage@0.2.1 node_modules/diskusage
└── nan@2.5.1
`

Looks good!  Thanks.

[2017-03-05 22:36] jduncanator commented on #17
I'm setting this as `wontfix` as the original reporter hasn't replied, and fixing issues with Electron modules is out-of-scope.

[2017-03-05 22:36] #17 closed

[2017-05-03 02:08] #13 closed

[2017-05-03 03:38] jduncanator commented on #13
I ended up removing the dependency on libexplain (`explain_statvfs`) because it was a hassle to get the dependency installed for users (I thought it came out of the box on most installations, but that assumption was incorrect). I've since just settled for `strerror` on POSIX platforms. It gives a detailed enough error message.

[2017-05-17 09:10] mykiimike opened #19 "Fail to pass Travis CI"
Full information here https://travis-ci.org/binarysec/gate/jobs/233152067

Seems to be a problem with
[code]

[2017-05-17 23:04] jduncanator commented on #19
The warning message from node provides the answer:

You'll need to update the compiler version on Travis to something that supports C++11.

You can install a supporting version of GCC with the following commands in the install section of the Travis config:

[code]

[2017-05-24 00:00] #19 closed

[2017-07-28 13:10] robinwassen commented on #17
It is just to run [electron-rebuild](https://github.com/electron/electron-rebuild) on this package to make it work for Electron, which is kind of common when using native modules in Electron.

**Manual command:**
     ./node_modules/.bin/electron-rebuild ./node_modules/diskusage/

[2017-10-18 15:18] pmalouin opened #22 "Warnings on install"
Thought you might want to know that installing the module produces some compilation warnings:
[code]

[2017-10-22 22:43] jduncanator commented on #22
Thanks for the report.

Could you please provide more information so I can attempt to reproduce the issue? I've just tried the install process on macOS, Debian and Ubuntu and couldn't see any compilation warnings.

1. What OS are you running?
2. What libc are you running?
3. What compiler and compiler version are you running?

[2017-10-23 17:07] pmalouin commented on #22
Here are the details:
OS = Debian Jessie

Not sure exactly how to check for libc and compiler used. I have the [build-essential](https://packages.debian.org/jessie/build-essential) package, so I guess they're glibc and gcc:
[code]
[code]
Hope that's what you are looking for :)

[2017-10-23 22:24] jduncanator commented on #22
Looks like you're running an old-ish version of GCC. Those specific warning messages are a bug in C++ prior to GCC 5.1.1. See [this bug](https://gcc.gnu.org/bugzilla/show_bug.cgi?id=36750#c13) for more information.

Given they're just warnings, I'm happy to leave them as they are, rather than ignoring them in the build script.

[2017-10-23 22:24] #22 closed

[2017-11-13 20:27] uribes78 opened #23 "SyntaxError: invalid syntax Node.JS 6.10.0"
I have try to install the package and got this error

`> diskusage@0.2.3 install /opt/epbx/node_modules/diskusage

Traceback (most recent call last):
  File "/usr/local/lib/node_modules/npm/node_modules/node-gyp/gyp/gyp_main.py", line 16, in <module>
    sys.exit(gyp.script_main())
  File "/usr/local/lib/node_modules/npm/node_modules/node-gyp/gyp/pylib/gyp/__init__.py", line 545, in script_main

[2017-11-13 20:33] uribes78 commented on #23
I've tried using an old node version (4.8.6) because I have a VM using that version and have not problem installing, but In the main server have the error.

[2017-11-13 22:56] jduncanator commented on #23
I've tried reproducing on my end with Node 6.10.0 and npm 3.10.10, but haven't been able to reproduce the issue you are encountering.

Could you try deleting your entire node_modules folder and installing the package again? I suspect the gyp file has become corrupted somehow.

[code]

[2017-11-22 00:23] jduncanator commented on #23
@uribes78 Have you tried the above suggestion? Without further information, I can't investigate any further.

Closing this for now, if more information provided, I'll reopen.

[2017-11-22 00:23] #23 closed

[2018-01-25 14:18] CSester opened #24 "Check is not async"
Hi,

I was wondering why this library exposes 2 fonctions (sync and async) since both are synchronous ?
Let's watch to the code (index.js):
[code]
This executes the code synchronously, catch errors and call the given callback. But it is not asynchronous !

If you add some sleep() call to diskusage_posix.cpp :
[code]

The javascript execution will block until the return.

Are you interested by addi

[2018-01-28 22:36] jduncanator commented on #24
Operating Systems don't expose any calls that would make this call asynchronous. The whole point of this library is that libuv doesn't provide an easy, asynchronous way to get free disk space. When they make that available, I'd imagine the changes would be merged into Node.js and there would be a native replacement for this library.

That being said, there are _some_ options to make this asynchron

[2018-01-29 07:30] CSester commented on #24
Investigating around, I came to the same conclusion. There is no simple and reliable way to get these information.

Nevertheless, why does the library expose these 2 functions? This is misleading IMO.

[2018-01-29 23:34] jduncanator commented on #24
It's designed to follow the same API design as all the internal `fs` functions, these provide both an inline synchronous call that returns the information from the function call, and an "asynchronous" function call that provides the data via a callback.

Even though the second one is not truly asynchronous in our case, the function signature is still useful for people who are used to having both a

[2018-02-02 00:50] #24 closed

[2018-03-13 11:01] VishalWaman opened #25 "Unable to install on windows 10"
npm ERR! code ELIFECYCLE
npm ERR! errno 1
npm ERR! diskusage@0.2.4 install: `node-gyp rebuild`
npm ERR! Exit status 1
npm ERR!
npm ERR! Failed at the diskusage@0.2.4 install script.
npm ERR! This is probably not a problem with npm. There is likely additional logging output above.

npm ERR! A complete log of this run can be found in:

Thanks in advance, this is in electronJS app

[2018-03-13 22:28] jduncanator commented on #25
I can't do much with that level of logging (there isn't even an error message in that log). Are you able to provide the full npm logs for the entire operation?

[2018-03-17 20:14] adamelliotfields commented on #25
@VishalWaman - it works, you just need to make sure `node-gyp` can build in your environment.

Here's my setup.

1. Install Microsoft Visual Studio Community 2017: <https://www.visualstudio.com/downloads>

2. In Visual Studio Installer, you need to install the following *Individual components* (hint: they are in the tab titled "Individual components"):
    - Static analysis tools (required by VC++

[2018-03-21 11:02] serkanp opened #26 "not working on windows xp"
this component does not work on windows xp
here how i use it on windows xp

[code]

[2018-03-21 22:55] jduncanator commented on #26
Windows XP should theoretically work, the package uses `GetDiskFreeSpaceW` which is supported back to Windows XP. I suspect the issues you are having with Windows XP are related to NodeJS and/or node-gyp.

What specific error message are you seeing when trying to use this package on Windows XP?

[2018-03-21 22:59] jduncanator commented on #25
Thanks to @adamelliotfields's for the extra information. I'll close this issue now.

@VishalWaman If you are still encountering this issue, and have any more information for me, feel free to leave a reply and I'll re-open the issue and take a look.

[2018-03-21 22:59] #25 closed

[2018-04-27 09:12] NINI1988 opened #27 "Function definition wrong"
If an error occured the result is undefined.

Definition:
`export function check(path: string, callback: (error: Error, result: DiskUsage) => void): void;`

Should be:
`export function check(path: string, callback: (error?: Error, result?: DiskUsage) => void): void;`

The question marks behind error and result helps in typescript to avoid access to undefined varibles.

Thanks for providing this mo

[2018-04-30 01:16] jduncanator commented on #27
I'll update the module this week to include the correct function definition, I'm assuming this is a non-breaking change?

Thanks!

[2018-05-02 13:51] NINI1988 commented on #27
Yes, its an non-bracking change.

[2018-06-01 03:55] JackoPham opened #28 "diskusage.node is not a valid Win32 when bugger in vscode"
I'm get a problem when debug my project had use diskusage package on the windown 10.

Error:
node_modules\diskusage\build\Release\diskusage.node is not a valid Win32 application.

please help me fix it.
thank you so much.

[2018-06-12 01:17] jduncanator commented on #26
Closing due to no response. Windows XP is out of scope for active support, but if someone wants to point me in the right direction for getting it working on Windows XP, happy to investigate.

[2018-06-12 01:17] #26 closed

[2018-07-24 00:51] jduncanator commented on #28
This looks like a compiler issue. You need to have a build chain installed on your computer to use diskusage, so you'll need something like Visual Studio on Windows to use diskusage.

[2018-07-30 18:09] ashantyk opened #29 "Throws error for windows full path"
This issue only reproduces on Windows OS.

Just giving it the drive letter or, AT MAX, the 3 char string (X:\) the module works just fine, but if you give it a full path (eg.: D:\Temp) the module just spits a NOTFOUND error.

The module should work with full paths also, just like df works with paths on linux.

[2018-07-31 04:42] jduncanator commented on #29
I can't seem to reproduce the issue. What version of Node and Windows are you running? Are you sure you have permission to read the directory you are trying to get disk usage information on?

I've been able to get disk usage information from both the main and external drives, and under subfolders, with and without trailing slashes:

[code]

[2018-07-31 04:44] jduncanator commented on #29
I can't seem to reproduce the issue. What version of Node and Windows are you running? Are you sure you have permission to read the directory you are trying to get disk usage information on?

I've been able to get disk usage information from both the main and external drives, and under subfolders, with and without trailing slashes:

[code]

[2018-07-31 15:56] ashantyk commented on #29
investigated the issue. my bad. it seems i was using **diskspace**, not **diskusage**. sorry

[2018-07-31 15:56] #29 closed

[2018-10-02 16:17] matthiasg commented on #24
In this case the callback should be called in a `setTimeout(callback,0,error,result)` way or similar though, to ensure the callback behaves similar to node.js functions where the callback is executed asynchronously

[2018-10-02 23:43] jduncanator commented on #24
@matthiasg You make a good point. The callback should ideally be called by `setImmediate` rather than directly. If you agree, I'll push a change and a new version of the library.

[2018-10-03 20:54] skeddles opened #31 "Module version mismatch. Expected 46, got 48."
module.js:434
  return process.dlopen(module, path._makeLong(filename));
                 ^

Error: Module version mismatch. Expected 46, got 48.
    at Error (native)
    at Object.Module._extensions..node (module.js:434:18)
    at Module.load (module.js:343:32)
    at Function.Module._load (module.js:300:12)
    at Module.require (module.js:353:17)
    at require (internal/module.js:12:17)
    a

[2018-10-04 06:04] matthiasg commented on #24
Makes sense. It would be after the IO events queue then which also makes sense.

[2018-10-04 23:45] jduncanator commented on #31
Looks like you're trying to use a version of diskusage installed with a different version of node.js. Try installing the package again with `npm install diskusage` on the machine you're trying to use it.

[2018-10-31 14:26] serfimtic opened #32 "diskusage doesn't compile for node 10"
Hello,

diskusage doesn't compile for node 10. The issue seems to come from the dependency to version 2.5 of NaN:

[code]

Would it be possible to update the dependency to at least v2.8.0 to make diskusage work for node 10?

Thanks in advance.

[2018-10-31 23:13] jduncanator commented on #32
Thanks for the report, fixed in 5e885d17d8dd699bd9678819e39c86a42bdc6107! The updated package should be available on npm now.

[2018-10-31 23:13] #32 closed

[2018-11-19 00:46] jduncanator commented on #31
Closing unless more information can be provided.

[2018-11-19 00:46] #31 closed

[2018-11-19 00:46] jduncanator commented on #28
Closing unless more information can be provided.

[2018-11-19 00:46] #28 closed

[2019-01-04 19:22] marcoln opened #35 "Mac OS free/available disk space usage"
Hi,

I believe diskusage takes wrong variables at MacOS, here is DiskUsage structure returned on my Mac:

{ available: 234734542848,
  free: 772926418944,
  total: 1000240963584 }

My disk is 1TB, ~770 GB used and ~230 free

[2019-01-07 02:44] jduncanator commented on #35
Are you able to run the following command in a terminal and report the result back here?

[code]

[2019-01-07 17:36] marcoln commented on #35
hello, of course. This is result from Mac OS:

Filesystem    512-blocks      Used Available Capacity iused               ifree %iused  Mounted on
/dev/disk1s1  1953595632 455931488 432383256    52% 1466401 9223372036853309406    0%   /
devfs                396       396         0   100%     686                   0  100%   /dev
/dev/disk1s4  1953595632  16777296 432383256     4%       8 92233720368

[2019-01-24 04:42] #35 closed

[2019-04-08 04:16] jduncanator commented on #27
I'm closing this because I don't think changing these to optional parameters is the right move to make. Neither is really incorrect, however the TypeScript documentation leans towards having optional parameters, in a scenario like this, in a callback as being an anti-pattern.

Given this has next to no benefit to end users, it's easier to just close this.

If anyone has an actual use case where th

[2019-04-08 04:16] #27 closed

[2019-04-08 09:24] NINI1988 commented on #27
This is actual an error. When an error occure the result is undefined. When you then access result you will get an "access to undefined" error. When this parameter is set to optional and you activate strictNullChecks in typescript the compiler will warn you about this access.
There are two sollutions:
- Set this argument as optional
- Or allways return a DiskUsage object in result and never return

[2019-04-08 09:57] jduncanator commented on #27
As per the examples, and nearly every other callback in nodejs fs module, you should be checking if error or result is undefined before accessing either.

I’ll take a look at the typescript definitions of the fs module and aim to replicate that.

[2019-04-08 11:28] NINI1988 commented on #27
So when it can be undefined, why not specifieing the interface correctly? You could also write `result:Diskusage|undefined` which is the same as question mark.

[2019-04-08 15:58] jacobq commented on #17
FWIW, this module appears to work with electron 4.x but runs into trouble when attempting to build for 5.x which uses a newer version of V8. The basic steps to correct this are listed here: https://electronjs.org/blog/nodejs-native-addons-and-electron-5
I haven't verified this for myself, but it looks like this line needs to be updated (and maybe more):

https://github.com/jduncanator/node-diskusa

[2019-04-29 11:39] jacobq opened #37 "Fails to compile on Node v12.0.0"
Looks like #36 fixed the Electron 5 incompatibility problem, but it still doesn't compile on Node v12.0.0 (even though electron 5 uses node 12 there are still some differences in V8, etc.). Attempting to run `npm install diskusage` (in an empty directory) using Node v12.0.0 produces the following error:

[code]

[2019-04-29 16:42] fehmer commented on #37
👍

[2019-04-29 17:20] jacobq commented on #37
@fehmer Just for kicks, would you try running against [my fork](https://github.com/jacobq/node-diskusage/commit/22901cb27edf4cd8d5b106ac694ee85cb372dc0b) to see if it [fixes it](https://github.com/jduncanator/node-diskusage/pull/38) for you too?

e.g. set `package.json` dependencies like this:
[code]

[2019-04-29 17:25] fehmer commented on #37
@jacobq sure. With your branch its compiling fine.

[2019-04-29 17:31] jacobq commented on #37
Cool. Now we're just waiting for @jduncanator to have a moment to review and make sure that the change doesn't break compatibility with old (v0.12.x :exclamation:) versions.

[2019-04-29 18:49] fehmer commented on #37
checked npm install with your branch;
- 0.12.18 ✅
- 6.17.1✅
- 8.16.0✅
- 10.15.3✅
- 11.14.0✅
- 12.0.0✅

[2019-04-29 23:58] jduncanator commented on #37
We actually have a compatibility target of Node 0.10 (🙄) I'll give this a test and merge if all good. Cheers!

[2019-04-30 00:16] #37 closed

[2019-04-30 00:22] jduncanator commented on #37
Closed, thanks! New package is published on npm.

[2019-05-01 21:59] Toxicable opened #39 "[feat] Add hosted precompiled binaries"
Adding this feature will reduce the need for system deps to compile the binary.

Here are some examples of other npm packages that allow for precompiled binary downloads. Falling back to local compiling.

https://github.com/sass/node-sass/releases
https://github.com/nodegit/nodegit/blob/master/lifecycleScripts/postinstall.js

[2019-05-03 01:29] jduncanator commented on #39
I plan to add some proper CI and tests to the project sometime soon, I'll see if I can work in generating pre-built binaries for Windows, Linux and macOS into the CI process. Looks like something like [prebuild/prebuild](https://github.com/prebuild/prebuild) and [prebuild/prebuild-install](https://github.com/prebuild/prebuild-install) would do the trick!

[2019-05-22 03:13] jacobq opened #40 "Fails to build on node v12.3.0"
I'm not sure why, but this module, as well as others, all seem to be failing to build in CI ever since node v12.3.0 shipped today.

<details>
<summary>Output</summary>

[code]

</details>

See also #37

[2019-05-22 03:25] jacobq commented on #40
Turns out this is a [node problem](https://github.com/nodejs/node/commit/ae8b64df78) -- [should be fixed](https://github.com/nodejs/node/pull/27804) in 12.3.1

[2019-05-22 03:25] #40 closed

[2019-06-06 14:44] zxfrank opened #41 "was compiled against a different Node.js version 64 vs 72"
Hello, I got this issue this morning after installing...
[code]

[2019-06-11 21:34] chen-xin commented on #41
I have exact the same issue in an Electron 5.0 project. In my condition, the postinstall script calls electron-builder to rebuilds binarys for electron, when I try to test this function without electron, the error occurs.

You can run `npm rebuild diskusage` to build binary for node 10, if what you actually need is to use this package in electron, do postinstall again.

@jduncanator pls add multi

[2019-06-11 23:29] jduncanator commented on #41
I'll take a look into this problem. Be aware that diskusage targets multiple platforms, so using the provided "mokey patch" to index.js will only resolve the problem when running on Windows. I'll investigate a more cross platform friendly fix.

[2019-06-12 11:54] tumdav commented on #35
same for ubuntu

[2019-06-13 02:20] jduncanator commented on #35
@tumdav Can you provide the output of both diskusage and the `df` command under Ubuntu?

[2019-06-13 23:28] jduncanator commented on #41
I'm still not sure exactly what steps reproduce this issue. Can you provide some more information into how you ran into this?

[2019-06-14 16:53] chen-xin commented on #41
Thank you for concerning about this issue. I reproduced it with a clean new vue-electron project, here are the steps:

1. Create a fresh vue-electron project as [this guid](https://nklayman.github.io/vue-cli-plugin-electron-builder/guide/). This will add a postisntall script to package.json, which will rebuild electron's native module after any new module installed.
2. `yarn add diskusage`. After

[2019-06-17 00:30] jduncanator commented on #41
Great, thank you for the detailed steps. I'll take a look at this today and hopefully push a fix!

[2019-06-17 05:44] dmitry-bas opened #42 "Fails to build on node v12.4"
node - v12.4.0
node-gyp - v3.8.0

[code]

[2019-06-17 07:22] jduncanator commented on #42
This should be fixed in the latest version. Please try node-diskusage 1.1.2 and let me know if this has resolved the issue for you.

[2019-06-17 07:22] #42 closed

[2019-06-19 17:42] GDreyV opened #43 "Fails to build on VS 2019"
Msbuild has different location on VS2019 it's "c:\Program Files (x86)\Microsoft Visual Studio\2019\Community\MSBuild\Current\Bin\MSBuild.exe" (not ...\MSBuild\v15\Bin\...)

[2019-06-19 23:47] jduncanator commented on #43
I think this is a node-gyp problem, not a diskusage problem? May be best to report this to the node-gyp repository.

[2019-06-19 23:53] jduncanator commented on #43
This has been resolved in node-gyp 5.0 (see relevant discussion [here](https://github.com/nodejs/node-gyp/pull/1762) and [here](https://github.com/nodejs/node-gyp/pull/1715)). Until node-gyp 5.0 lands with npm, you can follow instructions [here](https://github.com/nodejs/node-gyp/pull/1715#issuecomment-502211967) to manually install it.

[2019-06-19 23:53] #43 closed

[2019-06-28 00:35] greenkeeper[bot] opened #44 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on Greenkeeper branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because it uses your CI build statuses to figure out when to notify you about breaking changes.

Since we didn’t receive a CI stat

[2019-07-08 01:32] #44 closed

[2019-08-05 21:23] afshing commented on #41
@jduncanator any update on that?

[2019-08-12 21:41] PedroHFranco opened #46 "Installer error in a electrion-vue project with yarn add"
I'm trying to install this in a electron-vue project using
`yarn add diskusage`

I'm gotting this error:

I'm using:
Windows 10
Node 12.7.0

Any idea what is causing, i already tryed to delete my node_module.

Thx.

[2019-08-13 05:41] jduncanator commented on #46
This looks like an issue with your Python installation. I have Python 2.7.12 installed on my development machine, which works with node-gyp and node-diskusage, so perhaps try installing a different Python version, or re-installing your current Python version.

[2019-08-13 13:31] PedroHFranco commented on #46
I had two versions installed of Phyton
2.5.4 64 Bits and 3.7.4 32 Bits
I removed the 64 bits version and reinstalled the last one.
I'm gotting the same error.

[2019-10-27 22:09] projectje opened #47 "Error on NPM Install"
yp\bin\node-gyp.js" rebuild )  else (node "C:\Program Files\nodejs\node_modules\npm\node_modules\node-gyp\bin\node-gyp.js" rebuild )
gyp ERR! UNCAUGHT EXCEPTION
gyp ERR! stack Error: spawn C:\Program Files (x86)\Microsoft Visual Studio\2019\Professional\MSBuild\15.0\Bin\MSBuild.exe ENOENT
gyp ERR! stack     at Process.ChildProcess._handle.onexit (internal/child_process.js:264:19)
gyp ERR! stack

[2019-10-27 23:21] jduncanator commented on #47
You need Visual Studio installed to build the plugin, looks like you're missing msbuild/Visual Studio.

[2019-10-27 23:21] #47 closed

[2019-10-28 22:08] projectje commented on #47
hmm, i have VS2019 installed otherwise it would probably not pick it up. but the path is

c:\Program Files (x86)\Microsoft Visual Studio\2019\Professional\MSBuild\Current\Bin\

not

C:\Program Files (x86)\Microsoft Visual Studio\2019\Professional\MSBuild\15.0\Bin\MSBuild.exe

lets see where to change see this.

[2019-10-28 22:29] jduncanator commented on #47
Make sure you have `node-gyp v5.0.0` installed, as per [this issue](https://github.com/nodejs/node-gyp/issues/1663).

[2019-11-16 05:32] jduncanator commented on #46
Closing, as a solution has been provided. Feel free to request a reopen if you're still encountering issues.

[2019-11-16 05:32] #46 closed

[2019-11-16 14:11] RF-Bernhard opened #48 "diskusage@1.1.2 install: `node-gyp rebuild`"
Hello! I tried to install diskusage 1.1.2 via npm and got following error:

![Bildschirmfoto vom 2019-11-16 15-05-37](https://user-images.githubusercontent.com/35370293/68994394-c6a9aa00-0882-11ea-8286-0ba70f0104db.png)

[npm-debug.log](https://github.com/jduncanator/node-diskusage/files/3854249/npm-debug.log)

Anyone got an idea of whats going on? Is it a bug or a bad configuration of my system?

[2019-11-16 23:35] jduncanator commented on #48
Looks like you need the build-essentials package installed on your machine, you’re missing a C++ compiler.

[2019-11-16 23:35] #48 closed

[2019-11-28 05:29] masudhossain commented on #41
Still broken it seems.

[2020-01-23 08:41] larssvensby opened #49 "Make diskusage Context Aware"
We use diskusage in an Electron application and Electron is soon requiring Native Modules in the Renderer Process to be NAPI or Context Aware.

Is it possible to make diskusage Context Aware?
See https://github.com/electron/electron/issues/18397 and an example https://github.com/atom/node-keytar/pull/182/files

Thanks

[2020-01-24 00:35] jduncanator commented on #49
This looks relatively low cost, should be straightforward to add as well. I'll take a look at this over the next week, thanks!

[2020-01-24 10:25] larssvensby commented on #49
Thanks!
I also saw this https://github.com/blagoev/node-diskusage/commit/d55db9d369b6c7728b97a2972232e66225c69bb4

[2020-03-11 07:06] i-break-codes commented on #41
Broken for me on node 13.0.1.. need to search for some other package

[2020-03-18 06:45] PrashanthGowda opened #50 "Cannot install diskuasge package with node v12.3.0 and npm v6.14.2"
I have a problem installing diskusage package v1.1.3 with node v12.3.0 and npm v6.14.2, i am getting the error as given below,

[code]

[2020-03-26 04:24] noahbjohnson commented on #50
Could this be a duplicate of #41 ?

[2020-04-30 12:22] aleksey-hoffman commented on #49
@jduncanator hey mate, any progress on making this context aware on NAPI? What do you think about https://github.com/blagoev/node-diskusage/commit/d55db9d ?

[2020-05-04 04:13] garyking opened #51 "Incorrectly reports free/available disk space"
For some reason, this library has recently been reporting free/available disk space incorrectly.

It's reporting 22 GB free, but I've got 65 GB free.

[2020-05-04 07:30] jduncanator commented on #51
Can you please provide more information?

At a minimum, provide the output of diskusage, and then either `df` or some other output that you're comparing it to.

[2020-05-04 16:15] garyking commented on #51
`df` reports the same "wrong" available space. So I guess the problem isn't with this library.

[2020-05-04 16:15] #51 closed

[2020-05-21 03:44] 279zlj opened #52 "Module parse failed: Unexpected character '�' (1:2)"
npm install diskusage
run electron:server
Module parse failed: Unexpected character '�' (1:2)
You may need an appropriate loader to handle this file type, currently no loaders are configured to process this file. See https://webpack.js.org/concepts#loaders
(Source code omitted for this binary file)
how to do？

[2020-06-30 06:51] Spaarw commented on #41
Broken for me on Node v12.18.1

[2020-08-21 18:17] darajava opened #54 "No effect of path?"
Providing the path does not change results of disk usage.

[code]

I get:
[code]

Is this a bug? I want to get the amount of _used_ space in a particular folder. I see that there is no option to get that so I thought that I could subtract `total` from `available` when checking a folder, but running the disk check on a different folder than `/` seems to give the same result?

[2020-08-27 02:49] #54 closed

[2020-08-31 06:21] Shadowlong commented on #50
same problem on MacOS node -v v14.8.0

[2020-08-31 14:44] chainhead opened #56 "Setting a threshold for usage limit."
I have a project where files are written to a mount point e.g. `/data`. I would like to apply a validation rule such that the process is exited if the percentage of space available at `/data` drops to say, 5%. For the purpose of testing, I used `/Users/myuserid` as the path for which the percentage maybe calculated. However, I am not following the results.

## Code
[code]

## Results

[code]

Is t

[2020-09-01 10:24] jduncanator commented on #56
Free disk space is the amount of physical free space left on the drive. Available disk space is the amount of free disk space available to the current user. Some spaces is usually reserved for the root user, so it is not available to standard users, which is reflected in the available figure.

If you want to determine the percentage of available space for the current user, you should use `availabl

[2020-09-02 00:23] #56 closed

[2020-09-02 23:07] chainhead commented on #56
1. Is it possible to find out the space _consumed_ by the current user?
2. Is the `available` space the size that is _now_ remaining? If so, how can we find out how much was originally allocated to that user?

[2020-09-03 13:43] xiaoxiangmoe commented on #49
@aleksey-hoffman Good Job！

[2020-09-03 13:55] jduncanator commented on #56
Neither of those are possible with this library. To do (1), you'd need to sum up all the sizes of files in a specific folder a user "owned". (2) doesn't really make sense, as the user is allocated all the space, minus the space reserved for the root user. You could probably compute this value by working out `total - (free - available)` which will give you the amount of space reserved for the root

[2021-07-31 17:09] SAtacker commented on #35
I am in a similar situation ( devices under `/dev/` ).
Can anybody help?

[2021-07-31 17:23] SAtacker commented on #35
Ran demo code given
[code]

[2021-08-02 13:41] z411500976 opened #57 ".+302"